{{! context: identifier }}

<li><a href="#{{{anchorName}}}">{{>name}}</a>
  {{#each (children sortBy="scope,kind")}}
    {{#if @first}}<ul>{{/if}}
    {{>index~}}
    {{#if @last}}</ul>{{/if}}
  {{/each}}
</li>
