{{#if deprecated}}<span class="deprecated">{{/if~}}
{{>name-prefix}}{{>name-parent}}{{>name-main}}{{#unless no-return-sig}}{{>return-sig}}{{/unless}}{{#if isExported}} â{{/if~}}
{{#if deprecated}}</span>{{/if~}}
