{{#if deprecated}}<span class="deprecated">{{/if~}}
{{>name-prefix}}{{>name-parent}}{{>name-main}}{{#unless no-return-sig}}{{>return-sig}}{{/unless}}{{>name-suffix~}}
{{#if deprecated}}</span>{{/if~}}
