<a name="{{{anchorName}}}"></a>
{{>heading-indent}}{{>name}}
{{>description~}}
{{>params~}}
{{>deprecated~}}
{{>augments~}}
{{>memberof~}}
{{>type~}}
{{>default~}}
{{>returns~}}
{{>access~}}
{{>enum~}}
{{>readOnly~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{>license~}}
{{>copyright~}}
{{>examples~}}

{{!-- Always show an index at the top level, otherwise only when object has min 2 properties and is not exported --}}
{{~#if (children min=2)~}}{{#unless isExported}}{{~#if (lt (depth) 1)~}}{{>index}}
{{/if}}{{/unless}}{{/if~}}

{{#each (children sortBy=(option "sort-by"))~}}
{{~depthIncrement~}}
{{>identifier~}}
{{~depthDecrement~}}
{{/each}}