<a name="{{{anchorName}}}"></a>
{{>heading-indent}}{{>name}}
{{>description~}}
{{>params~}}
{{>deprecated~}}
{{>augments~}}
{{>memberof~}}
{{>type~}}
{{>default~}}
{{>returns~}}
{{>access~}}
{{>enum~}}
{{>readOnly~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{>license~}}
{{>copyright~}}
{{>examples~}}

{{#if (descendants min=2)~}}{{#unless isExported}}{{>index}}
{{/unless}}{{/if~}}

{{#each (children sortBy=(option "sort-by"))~}}
{{~depthIncrement~}}
{{>identifier~}}
{{~depthDecrement~}}
{{/each}}