<a name="{{{anchorName}}}"></a>
{{>heading-indent}}{{>name}}
{{>description~}}
{{>params-table~}}
{{>deprecated~}}
{{>augments~}}
{{>memberof~}}
{{>default~}}
{{>returns~}}
{{>access~}}
{{>enum~}}
{{>readOnly~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{>license~}}
{{>copyright~}}
{{>examples~}}

{{#if (descendants min=2)~}}
{{#if isExported~}}
{{#if (equal (depth) 0)}}
{{>index}}
{{/if~}}
{{else}}
{{>index}}
{{/if~}}
{{/if~}}

{{#children sortBy=(option "sort-by")~}}
{{~depthIncrement~}}
{{>identifier~}}
{{~depthDecrement~}}
{{/children}}