<a name="{{{anchorName}}}"></a>
{{>heading-indent}}{{>name}}
{{>deprecated~}}
{{>description~}}
{{>params-table~}}
{{>properties~}}
{{>augments~}}
{{>mixes~}}
{{>memberof~}}
{{>default~}}
{{>returns~}}
{{>category~}}
{{>throws~}}
{{>fires~}}
{{>access~}}
{{>enum~}}
{{>readOnly~}}
{{>customTags~}}
{{>see~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{>license~}}
{{>copyright~}}
{{>todo~}}
{{>examples~}}

{{#if (descendants min=2)~}}
{{#if isExported~}}
{{#if (equal (depth) 0)}}
{{>index2}}
{{/if~}}
{{else}}
{{>index2}}
{{/if~}}
{{/if~}}

{{#children sortBy=(option "sort-by")~}}
{{~depthIncrement~}}
{{>identifier~}}
{{~depthDecrement~}}
{{/children}}