<ul>
{{#identifiers memberof=undefind}}
<li>{{>name}}
  <ul>
    {{#identifiers memberof=longname sortBy="kind"}}
    <li>{{>name}}
      <ul>
      {{#identifiers memberof=longname sortBy="kind"}}
      <li>{{>name}}</li>
      {{/identifiers}}
      </ul>
    </li>
    {{/identifiers}}
  </ul>
</li>
{{/identifiers}}
</ul>

{{#identifiers memberof=undefind sortBy="kind"}}
  <h2>{{>name}}</h2>
  {{>identifier-body}}

  {{#identifiers memberof=longname sortBy="kind"}}
    <h3>{{>name}}</h3>
    {{>identifier-body}}

    {{#identifiers memberof=longname sortBy="kind"}}
      <h4>{{>name}}</h4>
      {{>identifier-body}}
    {{/identifiers}}
  {{/identifiers}}
{{/identifiers}}
