{{#globals~}}
{{#if @first~}}{{>heading-indent}}Globals
<dl>
{{/if~}}
<dt>{{#if deprecated}}~~{{/if}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig-dl}}{{>name-suffix~}}{{#if deprecated}}~~{{/if}}</dt>
<dd>{{{renderMarkdown (linkify description)}}}</dd>
{{#if @last~}}</dl>
{{/if~}}
{{/globals~}}
