<dl>
{{#globals~}}
<dt>{{#if deprecated}}~~{{/if}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig-dl}}{{>name-suffix~}}{{#if deprecated}}~~{{/if}}</dt>
<dd>{{{stripNewlines (linkify description)}}}</dd>
{{/globals~}}
</dl>
