{{#modules~}}
{{#if @first~}}
{{>heading-indent}}Modules
<table>
  <thead>
    <tr>
      <th>Module</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td>{{#if deprecated}}~~{{/if}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig-dl}}{{>name-suffix~}}{{#if deprecated}}~~{{/if}}</td>
    <td>{{#md}}{{{linkify description}}}{{/md}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>
{{/if~}}
{{/modules}}
