{{#modules~}}
{{#if @first~}}
{{>heading-indent}}Modules
<table>
  <thead>
    <tr>
      <th>Module</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td>{{#deprecated no-gfm=true}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig-dl}}{{>name-suffix~}}{{/deprecated}}</td>
    <td>{{{md (linkify description)}}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>
{{/if~}}
{{/modules}}
