{{#if name~}}
{{#deprecated~}}
{{>name-code}}{{>name-prefix}}{{>name-parent}}{{>name-main}}{{>name-code}}{{>return-sig}}{{>name-suffix~}}
{{/deprecated~}}
{{/if~}}

index-name
{{#if name~}}
{{>name-code}}{{>name-prefix}}{{>name-parent-class}}{{>name-main}}{{>name-code~}}
{{/if}}

index-name2
{{#if name~}}
{{>name-code}}{{>name-prefix}}{{>name-parent2}}{{>name-main}}{{>name-code~}}
{{/if}}

sig
{{#deprecated}}[{{>index-name2}}](#{{{anchorName}}}){{>return-sig}}{{>name-suffix}}{{/deprecated}}

sig1
{{#deprecated}}[{{>index-name}}](#{{{anchorName}}}){{>return-sig}}{{>name-suffix}}{{/deprecated}}

sig-html
{{#deprecated no-gfm=true}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig html=true}}{{>name-suffix~}}{{/deprecated}}

~~ ` [new] parent.IdentifierName(method,sig) ` => string ® ~~