<!DOCTYPE html>
<html>
  <head>
    <title>Docs</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/html/docs.css">
    <link rel="stylesheet" href="/html/coy.css">
  </head>
  <body class="overflow-hidden">
    <div class="flexbox-col box-fill-viewport">
      <div class="row1 flex-fixed">
        <h1>API Reference</h1>
      </div>
      <div class="row2 flexbox-row">
        <div class="col1 horiz-space flex-fixed overflow-scroll">
          {{#modules sortBy="kind"~}}
          {{#if @first~}}<h3>Modules</h3><ul>{{/if~}}
          {{>index~}}
          {{#if @last}}</ul>{{/if}}
          {{/modules}}

          {{#globals sortBy="kind"~}}
          {{#if @first~}}<h3>Globals</h3><ul>{{/if~}}
          {{>index~}}
          {{#if @last}}</ul>{{/if}}
          {{/globals}}

          {{#misc sortBy="kind"~}}
          {{#if @first~}}<h3>Misc</h3><ul>{{/if~}}
          {{>index~}}
          {{#if @last}}</ul>{{/if}}
          {{/misc}}
        </div>
        <div class="col2 overflow-scroll flex-full">
        {{#orphans sortBy="kind"}}
          {{>identifier}}
        {{/orphans~}}
        </div>
      </div>
    </div>
    <script src="/html/prism.js"></script>
  </body>
</html>
