<!DOCTYPE html>
<html>
  <head>
    <title>Docs</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/html/docs.css" type="text/css">
  </head>
  <body class="overflow-hidden">
    <div class="flexbox-col box-fill-viewport">
      <div class="row1 flex-fixed">
        <h1>API Reference</h1>
      </div>
      <div class="row2 flexbox-row">
        <div class="col1 horiz-space flex-fixed overflow-scroll">
          <ul>
          {{#identifiers memberof=undefind sortBy="kind"~}}
            {{>index~}}
          {{/identifiers}}
          </ul>
        </div>
        <div class="col2 overflow-scroll flex-full">
        {{#identifiers memberof=undefind sortBy="kind"}}
          {{>identifier~}}
        {{/identifiers}}
        </div>
      </div>
    </div>
  </body>
</html>
