/* STRUCTURE */
dt,dd { display: inline-block; margin: 0; vertical-align: top;}
dt { width: 25%; }
dd { width: 74%; }
p, pre { margin: 0; }
body { margin: 0; }

.flexbox-row { display: flex; flex-direction: row; }
.flexbox-col { display: flex; flex-direction: column; }
.flex-fixed { flex: 0 0 auto; }
.flex-full { flex: 1 1 auto; }
.horiz-space { padding-right: 2em; }

.box-fill-viewport { height: 100vh; padding: 0.5em; box-sizing: border-box;}
.overflow-scroll { overflow: scroll; word-wrap: break-word;}
.overflow-hidden { overflow: hidden; }

/* SKIN */
html { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 16px; line-height: 1.4;}
a[href] { color: rgb(71, 16, 178); }
.deprecated { text-decoration: line-through; }
th, td { border: 1px solid silver; }
/*code { background-color: #eee; font-family: Monaco, Consolas, "Lucida Console", monospace; }*/
.col1 li { list-style-type: none; }
.col1 ul { margin: 0; padding-left: 1em; }