<!DOCTYPE html>
<html>
  <head>
    <title>Docs</title>
    <style>
    html { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; }
    dt,dd { display: inline-block; margin: 0; vertical-align: top;}
    dt { width: 25%; }
    dd { width: 74%; }
    p, pre { margin: 0; }
    .deprecated { text-decoration: line-through; }
    </style>
  </head>
  <body>
    {{>main}}
  </body>
</html>