{{#globals kind=kind~}}
{{#if @first~}}
{{>heading-indent}}{{../title}}
<table>
  <thead>
    <tr>
      <th>{{_ "index.Global" }}</th><th>{{_ "index.Description" }}</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td>{{>sig-link-html}}</td>
    <td>{{{md (inlineLinks description)}}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>
{{/if~}}
{{/globals}}
